In [5]:
import pandas as pd
friends = [ 
                {'name':'John','age':20,'job':'student'},
                {'name':'Jenny','age':30,'job':None},
                {'name':'Nate','age':20,'job':'teacher'}
]
df = pd.DataFrame(friends)
df = df [['name','age','job']]
df

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   20  teacher

In [7]:
df.to_csv('friends.csv') # same as df.to_csv('friends.csv', index = True, header = True)

## index, header 생략하기

df.to_csv('friends.csv', index = False, header = False)

## None Value 기본값 설정

df.to_csv('friends.csv', index = False, header = False, na_rep = '-')

In [8]:
df.to_csv('friends.csv', index = False, header = False, na_rep = '-')