In [1]:
import pandas as pd
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [2]:
def extract_year(column):
    return column.split("-")[0] # 컬럼에서 0번 배열의 year를 반환

In [3]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [4]:
def get_age(year, current_year):
    return current_year - int(year)

In [5]:
df['age'] = df['year'].apply(get_age, current_year=2019)
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   19
1  2002-09-24  2002   17
2  2005-12-20  2005   14

In [6]:
def get_introduce(age, prefix, suffix):
    return prefix + str(age) + suffix

In [7]:
df['introduce'] = df['age'].apply(get_introduce, prefix = 'I am ', suffix = " years old")
df

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   19  I am 19 years old
1  2002-09-24  2002   17  I am 17 years old
2  2005-12-20  2005   14  I am 14 years old

In [8]:
def get_introduce_2(row):
    return "I was born in " + str(row.year) + "my age is " + str(row.age)

In [9]:
df.introduce = df.apply(get_introduce_2, axis=1)
df

   yyyy-mm-dd  year  age                       introduce
0  2000-06-27  2000   19  I was born in 2000my age is 19
1  2002-09-24  2002   17  I was born in 2002my age is 17
2  2005-12-20  2005   14  I was born in 2005my age is 14

In [13]:
df['introduce'] = df.apply(get_introduce_2,axis=1) # 위와 같은 문법
df

   yyyy-mm-dd  year  age                       introduce
0  2000-06-27  2000   19  I was born in 2000my age is 19
1  2002-09-24  2002   17  I was born in 2002my age is 17
2  2005-12-20  2005   14  I was born in 2005my age is 14